body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:704px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:55px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(153, 153, 153, 1) 87%, rgba(153, 153, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(153, 153, 153, 1) 87%, rgba(153, 153, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(153, 153, 153, 1) 87%, rgba(153, 153, 153, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u43 {
  position:absolute;
  left:364px;
  top:121px;
  width:340px;
  height:55px;
  text-align:left;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:336px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u45 {
  position:absolute;
  left:376px;
  top:141px;
  width:23px;
  height:16px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:364px;
  top:176px;
  visibility:hidden;
}
#u47_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u47_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:281px;
}
#u50 {
  position:absolute;
  left:2px;
  top:132px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
}
#u51 {
  position:absolute;
  left:12px;
  top:17px;
  width:49px;
  height:46px;
}
#u52 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
}
#u53 {
  position:absolute;
  left:12px;
  top:79px;
  width:49px;
  height:46px;
}
#u54 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
}
#u55 {
  position:absolute;
  left:12px;
  top:143px;
  width:49px;
  height:46px;
}
#u56 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:91px;
  top:20px;
  width:140px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:91px;
  top:82px;
  width:140px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:91px;
  top:208px;
  width:140px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:91px;
  top:146px;
  width:140px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
}
#u65 {
  position:absolute;
  left:12px;
  top:205px;
  width:49px;
  height:46px;
}
#u66 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
